/* CSS declarations go here */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300|Oswald:400,700);

/*    RESET
- - - - - - - - - - - */
* {
	margin:0;
	padding:0;
	list-style:none;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent 
}
/*    Body Global
- - - - - - - - - - - */
body {
	background: #f1f1f1;
	font: 12px helvetica, arial;
}
h1{
	right: 200px;
	color: #999ca1;
	font: 30px helvetica, arial;
	text-align: center;
}
input {
	background: #fff;
	border: 1px solid #dadada;
	width: 625px;
	height: 50px;
	margin: 0 0 25px 0;
	font: 18px helvetica, arial;
	color: #999ca1;
	padding: 0 0 0 10px;
}
form{
	width: 625px;
	height: 50px;
	margin: 0 0 25px 0;
	font: 18px helvetica, arial;
	color: #3db4b9;
	padding: 0 0 0 350px;
}
li{
	font-size: 18px helvetica, arial;
	color: #999ca1;
	padding: 0 0 0 320px;
}
h1, h2, label, p, a, span, form {
	text-shadow: 2px 2px 2px #fff;
	-webkit-text-shadow: 2px 2px 2px #fff;
	-moz-text-shadow: 2px 2px 2px #fff;
	-o-text-shadow: 2px 2px 2px #fff;
}
/*    TodoUser
- - - - - - - - - - - */
.todoUser{
	font: 18px helvetica, arial;
	color: #999ca1;
	padding: 0 0 10px;
}
/*		Span2
- - - - - - - - - - - -*/
.span2{
	font-size: 18px helvetica, arial;
	color: #999ca1;
	padding: 0 0 0 250px;
}
/*		Info, h1, p
- - - - - - - - - - - */
.info{
	background: #ecf0f1;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 240px;
	padding: 10px;
	box-shadow: 2px 0px 7px -1px #fff;
	z-index: 10;
}
.info p {
	font-family: 'Oswald', sans-serif !important;
	color: #7f8c8d;
	text-align: center;
	font: 15px helvetica, arial;
}
.info p a {
	font-weight: bolder;
	font-family: 'Oswald', sans-serif !important;
	color: #27ae60;
}
.logo {
	position: relative;
	margin: 0 0 50px 40px;
}